/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/node_modules/
/web/thumb/
/web/uploads/
/web/slideshow/
/web/feeds/classes/db_connect.php
/web/fonts/
/web/images/
/src/AppBundle/WebPath/
/web/archived_files/