<div class="linkWrapper"><a class="superNav" href="/admin">Edit Pages</a></div>
<div class="linkWrapper"><a class="superNav" href="/admin/newPage">Create New Page</a></div>
<div class="linkWrapper"><a class="superNav" href="/admin/upload">Upload Images</a></div>
<div class="linkWrapper"><a class="superNav" href="/admin/showGalleries">Show Galleries</a></div>
<div class="linkWrapper"><a class="superNav" href="/" target="_blank">View site</a></div>
<div class="linkWrapper"><a class="superNav" href="/logout">Logout</a></div>
