
<ul class="nav">
  	<div class="dropdown">
    <a href="{{ path('index', {'slug': Home}) }}" class="dropbtn">Home</a>
   <div class="dropdown-content">
      <a href="{{ url('index', {'slug': About}) }}">About</a>
      <a href="{{ url('index', {'slug': Faith-Statements}) }}">Faith Statements</a>
      <a href="{{ path('index', {'slug': Board-Members}) }}">Board Members</a>
    </div>
  </div>
  	  <li class="nav"><a href="/Resources">Resources</a></li>
  	<div class="dropdown">
    <a href="/Projects">Projects</a>
   <div class="dropdown-content">
      <a href="/Brightmoor-Hope-House">Brightmoor Hope House</a>
      <a href="/Climate-and-Energy">Climate and Energy</a>
      <a href="/Environmental-Health">Environmental Health</a>
    </div>
  </div>
  	<li class="nav"><a href="/galleries/show">Galleries</a></li>
  	<li class="nav"><a href="/Videos">Videos</a></li>
  	<li class="nav"><a href="/Contact">Contact</a></li>
  	<li class="nav"><a href="/Donate">Donate</a></li>

  	<li class="nav"><a href="/blog">Blog</a></li>
</ul>

