{% extends 'base.admin.html.twig' %}

{% block main %}

	{% for galleryPhoto in galleryPhotos %}
	<form name="editGalleryPhoto">
		<input type="hidden" name="photoID" value="{{ galleryPhoto.id }}" />
		<img src="../../thumb/{{ galleryPhoto.path }}"/>
		<input type="text" name="imageCaption" value="{{ galleryPhoto.caption }}" />
		<input type="submit" name="UpdatePhoto" value="Update Photo" /><input type="submit" name="DeletePhoto" value="Delete Photo" onClick="return confirm('Delete photo from gallery (photo will remain on server)?');" />
	</form>
	{% endfor %}
{% endblock %}

