<div class="photoInset">
	<div class="Scroll_Wrapper">
	{% for pic in pics %}
		<figure class="Item">
			<a href="{{ path('slideshow', {'picPath': pic.path}) }}" target="_blank"><img src="{{ asset('thumb/'~pic.path) }}"/></a>
			<figcaption>{{ pic.caption }}</figcaption>
		</figure>
	{% endfor %}
	</div>
</div>
