{# template for home page only #}
{% extends 'base.html.twig' %}
{% block title %}Voices for Earth Justice - Home{% endblock %}
{% block main %}
	<div class="content">
	{{ page.content|raw }}
	{{ render(controller('AppBundle:LatestPhotos:LatestPhotos')) }}
	{{ render(controller('AppBundle:LatestBlogs:LatestBlogs')) }}
		<!-- homePageSidebar div close-->
		</div>
	</div>
	<div class="content">
	{{ page.content2|raw }}
		<div id="homePageDonate">	
			<p><em>Donate by sending a check to:</em> <strong>21695 Rougewood Dr. Southfield, Michigan 48033</strong></p>
			<p><em>Or use Paypal:</em><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HACJ8SBMR6HTA" target="_blank"><img src="images/paypal_donate_button_cards.gif" alt="Paypal donate" /></a></p>
			
			<strong>Thank you!!!</strong>
		</div>
	</div>
{% endblock %}
