{% extends 'base.html.twig' %}

{% block main %}
	<div class="content">
	{{ page.content|raw }}
	{{ render(controller('AppBundle:LatestBlogs:LatestBlogs')) }}
	</div>
	{{ render(controller('AppBundle:LatestPhotos:LatestPhotos')) }}
	<div class="content">
	{{ page.content2|raw }}
	</div>
{% endblock %}
