<div class="photoInset">
	<h3 id="latestPhotos"><em>Latest Photos</em></h3>
	<div class="Scroll_Wrapper">
	{% for photo in latestPhotos %}
		<figure class="Item">
			<span><img src="{{ asset('thumb/'~photo.path) }}"/></span>
			{% if photo.caption %}
				<figcaption>{{ photo.caption }}</figcaption>
			{% endif %}
		</figure>
	{% endfor %}
		<div class="Item">
			<a id="seePhotosLink" href="{{ path('photo-galleries') }}" >See all photos</a>
		</div>
	</div>
</div>