<div class="blogInset">
	<h3 id="latestBlogs"><em>Latest Blog Posts</em></h3>
	<div class="Vertical_Scroll_Wrapper">
	{% for blog in latestBlogs %}
		<h3>{{ blog.title }}</h3>
		<img src="{{ asset('uploads/featuredPhotos/'~blog.featuredPhotoName) }}" alt="featured photo" id="featuredPhoto" />
		<p>{{blog.excerpt}}</p>
	{% endfor %}
			<a id="seePhotosLink" href="{{ path('blog') }}" >Visit our blog</a>
	</div>
</div>