{% extends 'base.admin.html.twig' %}

{% block main %}
	<ul>
		{% for gallery in galleries %}
			<li><a href="{{ path('editGallery', {'galleryName': gallery.galleryName}) }}">{{ gallery.galleryName }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}

