$darkerPurple: #1e0033;

header {

	@media (min-resolution: 1.5dppx) {
		  background-image: url('../images/background-1920w.jpg');
	   }
	   
    background-color: $darkerPurple;
	background-image: url('../images/background-960w.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center;*/
	background-attachment: scroll;

	font-family: Raleway, Helvetica, sans-serif;
	text-align: center;
	color: white;
	font-size: 8vw;
	text-shadow: 2px 2px 4px black;
	
	padding: 12vw 0.5em;

   	@media (orientation: landscape){
		padding: 6vw 0.5em;
	}
	
	@media (min-width: 550px) {
		padding: 8vw 0.5em;
		
		@media (orientation: landscape){
			padding: 4vw 0.5em;
		}
	}
	
		@media (min-width: 768px) {
			padding: 7vw 0.5em 13vw;
			background-image: url('../images/website_header.jpg');
			font-size: 5vw;
		}
		
		@media (min-width: 1300px) {
			padding: 6.5vw 0.5em 9.5vw;
		}
}
