$darkerPurple: #1e0033;

header {
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-style: italic;
	color: black;
	font-size: 1.25em;
	overflow: auto;
	margin: 0.25em 0;
	//border: 2px dashed blue;

	img {
		//border: 2px solid red;
		width: 300px;
		max-width: 100%;
	}
	
	p {
		//border: 1px solid black;
		padding: 0 1em;
	}
	
	@media (min-width: 945px) {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: space-between;
		
		img {
			margin-right: 5%;
		}
		
		p {
			padding: 0;
		}
	}
}

a#headerLink:link {
    text-decoration: none;
}

a#headerLink:visited {
    text-decoration: none;
}

a#headerLink:hover {
    text-decoration: none;
}

a#headerLink:active {
    text-decoration: none;
}

header.admin {
	background-image: none;
	padding: .75em 1em .25em;
	font-size: 2em;
	text-shadow: none;
	background-color: lightgray;
	color: black;
	text-align: left;

}
