@font-face {
	font-family: EAU;
	src: url(../fonts/eau_sans/outline_font/eau_sans_book.otf);
}

$darkGray: #1a1a1a;
$lightPurple: #c4a3dc;
$lighterPurple: #f3edf8;
$darkPurple: #3b0066;
$darkerPurple: #1e0033;

/*remove default button styling*/
button.off-canvas-launcher {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #297D94;
	border-radius: 4px;
	background: none;
	padding: 4px 8px;
}

/*remove default button styling*/
button.nav-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: $darkerPurple;
	color: $lighterPurple;
	flex: 1;
	border: none;
	height: 3em;
}

/*if we don't have JavaScript available, no point showing the button*/
.no-js button.off-canvas-launcher {
	display: none;
}

.no-js  button.nav-button {
	display: none;
}

/*add some interactivity when the button is clicked*/
button.off-canvas-launcher:active, button.nav-button:active {
	top: 1px;
}

div.linkWrapper {
	display: flex;
	/*align-items: center;*/
	/*border: 1px solid blue;*/
	margin: .5em;
}

div.subNav {
	margin: .25em .5em;
}

div.parentNav {
	margin: .5em .5em .25em .5em;
}

nav.navigation-menu {
	background-color: $darkPurple;
	box-shadow: 2px 2px 4px $darkGray;
	padding: 0em;
    border-bottom-right-radius: 4px;
    
    /* fonts */
   font-family: EAU, Geneva, sans-serif;

	a:link {
		text-decoration: none;
	}

	/* visited link */
	a:visited {
		text-decoration: none;
	}

	/* mouse over link */
	a:hover {
		text-decoration: none;
	}

	/* selected link */
	a:active {
		text-decoration: none;
	}

	a {
		background-color: $darkerPurple;
		color: $lighterPurple;
		flex: 5;
		line-height: 3em;
		padding: 0 0 0 1em;
	}

	a.subNav {
		flex: 1;
		font-style: italic;
		padding: 0 0 0 1.5em;
	}
	
	a#donate {
		background-color: yellow;
		color: $darkPurple;
	}

}

/*for smaller screens that support JavaScript by default hide the nav off screen*/
@media (min-width: 200px) {

	.js nav.navigation-menu {
		position: absolute;
		top: 0;
		right: 0;
		width: 275px;
		left: -300px;
		transition: left .65s;
	}
	/*
	.superNav:first-child {
		margin-right: auto;
	}*/


	.js div.subNav {
		display: none;
	}


	/*when the menu button is clicked move the nav back on screen*/
	.js .OffCanvas-Active nav.navigation-menu {
		left: 0;
	}
	
	/*
	.js main.main-content {
		width: 100%;
		position: absolute;
		left: 0px;
		transition: left .5s;
	}*/
	/*
	.js .OffCanvas-Active .main-content {
		right: -200px;
		left: 200px;
	}*/
	
	/*if the browser supports transforms, reset the left property and pull it off screen with a translate */
	.js .csstransforms .navigation-menu {
		left: auto;
		transform: translateX(-200px);
	}
	/*when transforms are supported and the menu button is clicked, reset the nav to default position*/
	.js .csstransforms .OffCanvas-Active .navigation-menu {
		transform: translateX(0);
	}
	/*where transform3d is supported reset left and pull off screen with a translate3d instead*/
	.js .csstransforms3d .navigation-menu {
		left: auto;
		transform: translate3d(-200px, 0, 0);
	}
	/*when transform3d is supported and the menu button is clicked, reset the nav to default position*/
	.js .csstransforms3d .OffCanvas-Active .navigation-menu {
		transform: translate3d(0, 0, 0);
	}
}
