h3#latestPhotos {
	margin: 0 0 0 1em;
}

div.photoInset {
	box-shadow:0px 0px 10px 0px gray inset;
	padding: 1em 0 0 0;
}

div.blogInset {
	box-shadow:0px 0px 10px 0px gray inset;
	margin: 1em;
	padding: 1em;
	width: 400px;
	max-width: 90%;
	height: 600px;
	overflow-y: auto;
	z-index: 1;
	/*Give us inertia style scrolling on WebKit based touch devices*/
	-webkit-overflow-scrolling: touch;
}

.Scroll_Wrapper {
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	/*Give us inertia style scrolling on WebKit based touch devices*/
	-webkit-overflow-scrolling: touch;
	/*Remove the scrollbars in supporting versions of IE*/
	-ms-overflow-style: none;
}

/*Stops the scrollbar appearing in WebKit browsers
.Scroll_Wrapper::-webkit-scrollbar {
	display: none;
}*/

.Item {
	display: inline-block;
	vertical-align: middle;
}

a#seePhotosLink {
	margin: 0 2em 0 0;
}