h3#latestPhotos {
	margin: 0 0 0 1em;
}

div.photoInset {
	box-shadow:0px 0px 10px 0px gray inset;
	padding: 1em 0 0 0;
}

div.blogWrapper {
	margin: 1em 0;
	//border: 2px ridge purple;

	@media (min-width: 945px) {
		//padding: 0;
		//margin: 0 0 2em;
		//display: inline-block;
		//width: 100%;
		margin: 0 0 1em;
	}
}

div.blogInset {
	box-shadow:0px 0px 10px 0px gray inset;
	padding: 1em;
	width: 400px;
	//border: 1px solid green;
	max-width: 95%;
	height: 600px;
	overflow-y: auto;
	/*Give us inertia style scrolling on WebKit based touch devices*/
	-webkit-overflow-scrolling: touch;
	@media (min-width: 945px) {
		width: 100%;
		max-width: 100%;
	}
}

.Scroll_Wrapper {
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	/*Give us inertia style scrolling on WebKit based touch devices*/
	-webkit-overflow-scrolling: touch;
	/*Remove the scrollbars in supporting versions of IE*/
	//-ms-overflow-style: none;
	
	figcaption {
		width: 250px;
		margin: auto;
		//position: relative;
		//top: 0;
		//color: white;
		//background-color: darkgray;
		//text-align: center;
		//font-style: italic;
		font-size: smaller;
		word-break: normal;
		white-space: normal;
	}
	
	figure {
		//border: 1px solid purple;
	}
	/*
	figure:hover {
		figcaption {
			display: block;
			width: 300px;
			word-wrap: break-word;
		}
	}*/
}

/*Stops the scrollbar appearing in WebKit browsers
.Scroll_Wrapper::-webkit-scrollbar {
	display: none;
}*/

.Item {
		display: inline-flex;
		flex-direction: column;
		vertical-align: middle;
		justify-content: center;
}

.latestPhotosItem {
		display: flex;
		width: 300px;
		max-width: 100%;
		//border: 1px solid green;
		margin: 1em auto;
		flex-direction: column;
		vertical-align: middle;
		justify-content: center;
		
		img {
			max-width: 100%;
		}
		
		word-break: normal;
		white-space: normal;
		
		p {
			//border: 1px solid blue;
			max-width: 100%;
		}
}
/*
@media (min-resolution: 1.5dppx) {
	.Item img {
		transform: scale(0.5);
	}
}*/

a#seePhotosLink {
	margin: 0 2em 0 0;
}