$darkGray: #1a1a1a;

@import "partials/normalize";

@font-face {
	font-family: OpenSans;
	src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
	font-family: Raleway;
	src: url(../fonts/raleway/Raleway-Regular.ttf);
}

* {
    box-sizing: border-box;
} 

html {
	height: 100%;
}

body {
    /* fonts */
   font-family: OpenSans, Geneva, sans-serif;
}

//to push footer to bottom of page
.flexbox body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.flexbox div.notNav {
	flex: 1;
}

main {
	word-wrap: break-word;
}

div.content {
   width: 85%;
   max-width: 1200px;
   margin: auto;
   color: $darkGray;
   //border: 2px dotted blue;
   
   input[type=text], input[type=email], input[type=password], textarea{
   		display: block;
		font-size: 1em;
		padding: 4px;
		margin: .5em 0;
		border: 1px solid #ccc;
		border-radius: 4px;
   }
   
   button[type=submit] {
		margin: .5em 0;
   }
   
   @media (min-width: 945px) {
		width: 75%;
   }
}

input[type=number].timeField {
	width: 3em;
}

div#fosUserBundle {
	padding: 1em;
}

div.intro {
	margin: 1em 0 2em;
	overflow: auto;
	
	@media (min-width: 1200px) {
		margin: 2em 0;
	}
	
	p {
		@media (min-width: 1200px) {
			padding: 1em 0 0;
	   }
   }
}

div.adminContent {
	width: 100%;
	margin: 1em;
	input, textarea {
		font-size: 1em;
		padding: 4px;
		margin: .5em .25em;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	button {
		margin: .5em 0;
	}
}

div.faithStatementWrapper {
	overflow: auto;
}

div.bodWrapper {
	margin: 1em 0;
	display: block;
	//border: 1px solid gray;
	padding: 0 0 0 2em;
	
	@media (min-width: 945px) {
		width: 33%;
		display: inline-block;
		vertical-align: top;
	}
}

div.BrightmoorHopeHouseWrapper {
	margin: 1em 0;
	display: block;
	//border: 1px solid gray;
	padding: 0 0 0 2em;
	
	img {
		max-width: 400px;
	}
	
	@media (min-width: 945px) {
		width: 40%;
		display: inline-block;
		vertical-align: top;
	}
}

div.contactWrapper {
	
	@media (min-width: 945px) {
		width: 45%;
		display: inline-block;
	}
}
	
div#donateIconsWrapper {
	figure {
		padding: 0;
		margin: 0;
		width: 30%;
		display: inline block;
		//border: 1px solid gray;
	}
	
	figure img {
		max-width: 100%;
	}
	
	@media (min-width: 945px) {
		width: 20%;
		display: inline-block;
		vertical-align: top;
	}	
}

div#donateContentWrapper {

@media (min-width: 945px) {
		width: 79%;
		display: inline-block;
	}	
	
}

.flexbox div.slideshowFooter {
	display: flex;
	justify-content: space-around;
	max-width: 1200px;
	margin: auto;
	padding: 0.5em 0 1em;
}

.flexbox div#slideshowCaption {
	padding: 0 1em;
	display:flex;
	justify-content: center;
}

p.datePosted {
	font-style: italic;
	font-size: smaller;
}

p#latestPhotosGalleryName {
	font-size: smaller;
	word-break: normal;
	white-space: normal;
	//word-wrap: break-word;
	//border: 1px solid gray;
	width: 250px;
	margin: auto;
}

img.fullWidth {
	max-width: 100%;
}

h2#slideshow {
	margin: .5em 1em;
	@media (min-width: 945px){
	width: 75%;
	margin: auto;
	//border: 1px solid gray;
	}
}

h3#galleryName {
	margin: 1em;
}

img.slideshow {
	display: block;
	margin: auto;
	max-width: 100%;
	
	@media (orientation:landscape) {
		height: 85vh;
	}

}

img#logo {
	display: block;
	max-width: 100%;
	margin: 1em 0;
	
	@media (min-width: 500px) {
		padding: 0 0 0 5%;
	}
	
   @media (min-width: 945px) {
   		display: inline;
		float: left;
		padding: 0;
		margin: 0 2em;
   }
}

div.mc-field-group {
	input[type=text], input[type=email] {
		font-size: 1em;
		padding: 4px;
		margin: .5em 0;
		border: 1px solid #ccc;
		border-radius: 4px;
		width: 100%;
	}
}

div#mc_embed_signup {
	background-color: #e6e6e6;
	padding: .5em 1em 1em;
	margin: 1em 0;
    border-radius: 4px;
}

div#connectWrapper {
	width: 400px;
	max-width: 100%;
	
	figcaption {
		display: none;
	}
	
	@media (min-width: 945px) {
		width: 40%;
		display: inline-block;
		vertical-align: top;
		padding: 2em 0 0;
		margin: 0 10% 0 0;
	}
}

iframe {
	max-width: 100%;
}

div.indicates-required {
	margin: 1em 0;
}

textarea.contentTextArea {
	width: 90%;
	height: 20em;
}

figure.socialMediaIcon {
	//border: 1px solid green;
	display: inline-block;
	margin: 0 1em 0 0;
	width: 25%;
	max-width: 75px;
}

img.socialMediaIcon {
	width: 75px;
	max-width: 100%;
}

img#payPalHomePage {
	display: block;
	margin: 1em;
	max-width: 100%;
}

img#featuredPhoto {
	width: 300px;
	max-width: 100%;
}

@import "partials/header";
@import "partials/nav";
@import "partials/photoScroll";
@import "partials/footer";
