$darkGray: #1a1a1a;

@import "partials/normalize";

@font-face {
	font-family: OpenSans;
	src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
	font-family: OpenSansHeader;
	src: url(../fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
	font-family: Raleway;
	src: url(../fonts/raleway/Raleway-Regular.ttf);
}

* {
    box-sizing: border-box;
} 

html {
	height: 100%;
}

body {
	/* fonts */
   font-family: OpenSans, Geneva, sans-serif;
   //height: 100%;
}

//to push footer to bottom of page
.flexbox body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.flexbox div.notNav {
	flex: 1 0 auto;
	//flex: 1;
}

main {
	word-wrap: break-word;
}

div.content {
   width: 85%;
   max-width: 1200px;
   margin: auto;
   color: $darkGray;
   //border: 2px dotted orange;
   overflow: auto;
   
   input[type=text], input[type=email], input[type=password], textarea{
   		display: block;
		font-size: 1em;
		padding: 4px;
		margin: .5em 0;
		border: 1px solid #ccc;
		border-radius: 4px;
   }
   
   button[type=submit] {
		margin: .5em 0;
   }
   
   @media (min-width: 945px) {
		width: 75%;
   }
}

input[type=number].timeField {
	width: 3em;
}

div#fosUserBundle {
	padding: 1em;
}

div.intro {
	margin: 1em 0 2em;
	overflow: auto;
	//max-width: 800px;
	//border: 2px solid gray;
	@media (min-width: 945px) {
		max-width: 800px;
		margin: 1em auto;
	}
}

div.adminContent {
	width: 100%;
	margin: 1em;
	input, textarea {
		font-size: 1em;
		padding: 4px;
		margin: .5em .25em;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	button {
		margin: .5em 0;
	}
}

div.faithStatementWrapper {
	overflow: auto;
}

div.bodWrapper {
	margin: 1em 0;
	display: block;
	//border: 1px solid gray;
	padding: 0 0 0 2em;
	
	@media (min-width: 945px) {
		width: 33%;
		display: inline-block;
		vertical-align: top;
	}
}

figure.BrightmoorHopeHouseWrapper {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 230px;
	max-width: 100%;
	
	img {
		max-width: 100%;
	}
	
	figcaption {
		word-break: normal;
		white-space: normal;
	}

}

figure.hopeHousePhotos {
	
	display: block;
	
	img {
		width: 600px;
		max-width: 100%;
	}
	
	figcaption {
		font-size: smaller;
		font-style: italic;
	}
	
	@media (min-width: 945px) {
		width: 45%;
		display: inline-block;
		margin: 0 0.5em;
		vertical-align: top;
	}
}

div.contactWrapper {
	@media (min-width: 945px) {
		width: 45%;
		display: inline-block;
	}
	
	p {
		margin-top: 2em;
	}
}
	
div#donateIconsWrapper {
	div{
		@media (max-width: 945px) {
				margin: 0 0 0 1em;
			}
		}
		
	figure {
	@media (max-width: 945px) {
		width: 35px;
		//max-width:
	}
		padding: 0;
		margin: 0;
		width: 30%;
		display: inline block;
		//border: 1px solid gray;
	}
	
	figure img {
		max-width: 100%;
	}
	
	@media (min-width: 945px) {
		width: 20%;
		display: inline-block;
		vertical-align: top;
	}	
}

div#donateContentWrapper {

@media (min-width: 945px) {
		width: 79%;
		display: inline-block;
	}	
	
}

.flexbox div.slideshowFooter {
	display: flex;
	justify-content: space-around;
	max-width: 1200px;
	margin: auto;
	padding: 0.5em 0 1em;
}

p.datePosted {
	font-style: italic;
	font-size: smaller;
}

p#latestPhotosGalleryName {
	font-size: smaller;
	word-break: normal;
	white-space: normal;
	//word-wrap: break-word;
	//border: 1px solid gray;
	//width: 250px;
	//margin: auto;
	font-style: italic;
	margin: 0;
}

img.fullWidth {
	max-width: 100%;
}

h2#slideshow {
	margin: .5em 1em;
	@media (min-width: 945px){
	width: 75%;
	margin: auto;
	//border: 1px solid gray;
	}
}

h3#galleryName {
	margin: 1em;
}

figure.slideshow {
	display: flex;
	flex-direction: column;
	//border: 1px solid gray;
	//justify-content: center;
	align-items: center;
	
	img {
		//border: 1px solid pink;
		max-width: 100%;
	}
	
	figcaption {
	 	//border: 1px solid green;
	 }
}

img#logo {
	display: block;
	max-width: 100%;
	margin: 1em 0;
	
	@media (min-width: 500px) {
		padding: 0 0 0 5%;
	}
	
   @media (min-width: 945px) {
   		display: inline;
		float: left;
		padding: 0;
		margin: 0 2em;
   }
}

div.mc-field-group {
	input[type=text], input[type=email] {
		font-size: 1em;
		padding: 4px;
		margin: .5em 0;
		border: 1px solid #ccc;
		border-radius: 4px;
		width: 100%;
	}
}

div#mc_embed_signup {
	background-color: #e6e6e6;
	padding: .5em 1em 1em;
	margin: 1em 0;
    border-radius: 4px;
    max-width: 400px;
    display: block;
    
    @media (min-width: 945px) {
		display: inline-block;
	}
    
}

div#newsletterWrapper {
	display: block;
	
    @media (min-width: 945px) {
		display: inline-block;
		width: 40%;
		//border: 1px solid blue;
		vertical-align: top;
		margin-top: 1em;
	}
}

div#homePageContent {
	//border: 2px solid green;

	img {
		max-width: 100%;
	}
	
	@media (min-width: 945px) {
		padding: 0;
		margin: 0 5% 2em 0;
		display: inline-block;
		width: 54%;
	}
}

div#homePageSidebar {
	//border: 2px solid blue;
	display: inline-flex;
	flex-direction: column-reverse;
	max-width: 100%;
	
	
	@media (min-width: 945px) {
		vertical-align: top;
		width: 40%;
	}
}

a.blogTitleLink:link {
    text-decoration: none;
}

a.blogTitleLink:visited {
    text-decoration: none;
}

a.blogTitleLink:hover {
    text-decoration: underline;
}

a.blogTitleLink:active {
    text-decoration: underline;
}

div#connectWrapper {
	width: 400px;
	max-width: 100%;
	//border: 2px dashed pink;
	
	figcaption {
		display: none;
	}
	
	@media (min-width: 945px) {
		//width: 100%;
		//margin: 0 3em 0 0;
		//display: inline-block;
		//vertical-align: top;
		//padding: 2em 0 0;
		//margin: 0 10% 0 0;
	}
}

div#homePageDonate {
	border: 1px solid black;
	text-align: center;
	background-color: #fafa9e;

	img {
		vertical-align: middle;
		margin-left: 0.25em;
	}
	padding-bottom: 1em;
	margin-top: 1em;
}

div.paginationNavigation {
	text-align: center;
	margin-top: 1em;
}

p#frontPageDonorThankYou {
	margin-top: 2em;
}

iframe {
	max-width: 100%;
}

div.indicates-required {
	margin: 1em 0;
}

textarea.contentTextArea {
	width: 90%;
	height: 20em;
}

figure.socialMediaIcon {
	//border: 1px solid green;
	display: inline-block;
	margin: 0 1em 0 0;
	width: 25%;
	max-width: 75px;
}

img.socialMediaIcon {
	width: 75px;
	max-width: 100%;
}

img#payPalHomePage {
	display: block;
	margin: 1em;
	max-width: 100%;
}

img#featuredPhoto {
	width: 300px;
	max-width: 100%;
}

@import "partials/header";
@import "partials/nav";
@import "partials/photoScroll";
@import "partials/footer";
